:root {
  --site-width: 1366px;
  --layout-padding: 0 20px;
  --body-bg: #f5f5f5;
}

:root {
  --primary-text: #3b4a4d;
  --primary-bg: #efefef;
  --highlight-text: #ff9393;
  --border: #BCBCBC;
  --primaryHover: #343078;
  --container-shadow: 0px 1px 3px 1px rgba(188,188,188,1);
}